@font-face{
	font-family: 'ProximaNova Light';
	src: url("../fonts/proxima nova/Proxima Nova Light.otf");
}

@font-face{
	font-family: 'ProximaNova Bold';
	src: url("../fonts/proxima nova/Proxima Nova Bold.otf");
}