$family-roboto-slab:'Roboto Slab', serif;
$family-roboto:'Roboto', sans-serif;
$family-proximanova-light:'ProximaNova Light';
$family-proximanova-bold:'ProximaNova Bold';
$grey-color:#31353e;
$base-color:#edeff1;